.Hr {
  width: 100%;
  border: 0;
  height: 1px;
  background: rgb(20, 20, 20);
  background-image: linear-gradient(
    to right,
    rgb(163, 159, 159),
    rgb(20, 20, 20),
    rgb(163, 159, 159)
  );
}
