.Card {
  width: 85%;
  border: 1px solid black;
  margin: 2.5rem 0;
  box-sizing: border-box;
  padding: 2rem;
  box-shadow: 5px 5px 8px #b1afaf;
  /* box-shadow: 5px 5px 8px var(--LightGreen); */
  min-height: 6.3rem;
  max-height: 15rem;
  overflow-y: auto;
}

.Card::-webkit-scrollbar {
  width: 12px;
}

.Card::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.Card::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.Frag {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Buttons {
  margin-left: 1.7rem;
}

.Card pre {
  background-color: var(--LightGreen);
  padding: 1rem;
}

.Card code {
  background-color: var(--LightGreen);
}

.Card a {
  color: var(--Blue);
}

.Card img {
  width: 70%;
  border: 1px solid black;
  border-radius: 0.1rem;
  padding: 0.5rem;
}

.Message {
  width: 85%;
  text-align: center;
}

.Loading {
  color: var(--CadetBlue);
}

.Error {
  color: var(--Red);
}
