.Topics {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
  width: 100%;
}

.Topics a {
  display: block;
  min-width: 15%;
  min-height: 2rem;
  margin: 1rem 2rem;
  border: 0;
  padding: 0;
}
