.CardForm {
  margin: 6rem auto;
  width: 70%;
  border: 1px solid var(--Black);
  padding: 2rem 0;
  box-sizing: border-box;
  border-radius: 8px;
}

.Heading {
  width: 80%;
  margin: 4px auto;
  font-size: 2.5rem;
  font-weight: bold;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
