.Navitem {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 1rem;
  /* color: rgb(212, 208, 208); */
}

.Navitem:hover {
  background-color: var(--DarkGreen);
  cursor: pointer;
  color: white;
}
