:root {
  --Primary: rgb(35, 146, 141);
  --Secondary: rgb(67, 158, 128);
  --LightRed: salmon;
  --Red: rgb(240, 45, 38);
  --LightBlue: rgb(104, 207, 241);
  --Blue: rgb(63, 114, 209);
  --CadetBlue: rgb(34, 113, 145);
  --LinkBlue: rgb(48, 130, 180);
  --Green: rgb(7, 133, 122);
  --LightGreen: rgb(221, 255, 251);
  --DarkGreen: rgb(46, 93, 95);
  --Yellow: rgb(243, 243, 116);
  --Orange: rgb(250, 196, 96);
  --Purple: rgb(201, 116, 201);
  --LightPurple: rgb(224, 176, 224);
  --White: rgb(255, 255, 255);
  --Black: black;
  --Preview: rgb(58, 128, 0);
  --NewCard: rgb(95, 169, 238);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* ::-webkit-scrollbar {
  width: 1rem;
  background-color: aqua;
} */

.noscroll {
  position: fixed;
  overflow-y: scroll;
}
